:root {
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.3rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* HOMEPAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  /* border: none; */
  cursor: pointer;
}
.home-btn {
  color: white;
  height: 70%;
  width: 70%;
}
.front-page {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.front-page.active {
  right: 300px;
}

.front-page video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgb(2, 70, 255) 0%,
    rgba(255, 255, 255, 0.521) 50%,
    #75cff0 100%
  );
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1rem;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  background: #039ccd;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  position: relative;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover {
  color: #039ccd;
}

@media (max-width: 991px) {
  .front-page,
  .front-page header {
    padding: 1rem;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}

/* body basic */

.bg-color {
  background: linear-gradient(
    45deg,
    rgba(204, 211, 250, 0.63) 0%,
    rgba(255, 255, 255, 0.74) 50%,
    #75cff0 100%
  );
}

/* dashboard section */
.section {
  padding: 2rem 0;
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.dashboard-item {
  background: var(#fff);
  /* border-radius: var(--radius); */
  margin: 2rem 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.dashboard-item:hover {
  box-shadow: var(--dark-shadow);
}

.map {
  border-radius: var(--radius) var(--radius) 0 0;
}

.table {
  border-radius: 0 0 var(--radius) var(--radius);
}

.container {
  width: 100%;
  height: 25rem;
}

.isFiltered {
  pointer-events: none;
  color: #bdbdbd;
}

.nav {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 0 2rem;
  text-decoration: none;
}

.map-marker {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.map-marker img {
  width: 25px;
  height: 25px;
}

.mapboxgl-popup-close-button {
  height: 20px;
  width: 20px;
  color: red;
}

.table-container {
  background-color: rgba(82, 204, 252, 0.349);
  opacity: 0.8;
}

.table-row:nth-of-type(odd) {
  background-color: #daedf8;
}

.add-fav {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: rgb(23, 150, 19);
  letter-spacing: var(--spacing);
  background: transparent;
  border: 1px solid rgb(23, 150, 19);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.rm-fav {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: rgb(104, 9, 9);
  letter-spacing: var(--spacing);
  background: transparent;
  border: 1px solid rgb(104, 9, 9);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.add-fav:hover,
.rm-fav:hover {
  box-shadow: var(--dark-shadow);
  cursor: pointer;
}

.filter-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 500;
  background: #fff;
  padding: 0.1rem 0.5rem;
  border: none;
  border-radius: var(--radius);
  letter-spacing: 1px;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  z-index: 1;
}

.filter-btn:hover {
  box-shadow: var(--dark-shadow);
}

.filter-box-container {
  position: absolute;
  top: 2.6rem;
  right: 1rem;
  height: 120px;
  width: 150px;
  background: #fff;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.filter-box-container:hover {
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.make-visible {
  visibility: visible;
}

.filter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-input {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  width: 90%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.479);
}

.filter-input-btn {
  margin-top: 0.7rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: var(--light-shadow);
  /* transition: var(--transition); */
}
.filter-input-btn:hover,
.filter-reset-btn:hover {
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.filter-reset-btn {
  margin-top: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: var(--light-shadow);
  /* transition: var(--transition); */
  background-color: rgba(255, 0, 0, 0.342);
  display: none;
}

.filter-reset-btn-show {
  display: inline;
}

/* Modal */
/*.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.329);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}

.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: white;
  border-radius: var(--radius);
  width: 50vw;
  height: 30vh;
   max-width: var(--fixed-width); 
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: rgb(187, 31, 31);
  cursor: pointer;
}*/
